<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzjogWlEY3FfIibZnuy34tK4f90jp2CJg</string>
	<key>GCM_SENDER_ID</key>
	<string>359969034988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studyaiFlutterV2</string>
	<key>PROJECT_ID</key>
	<string>studyai-bc795</string>
	<key>STORAGE_BUCKET</key>
	<string>studyai-bc795.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359969034988:ios:db29c502d804fd501bcbc9</string>
</dict>
</plist>